body {
    color:white;

}

/*nav.top-nav {
    background-color: rgba(65, 96, 33, 0.83);
}*/

.page_div {
  margin-bottom: 130px;
  clear: both;
  width: 100%;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

a {
  color: #294;
}

.material-icons {
  display: inline-block;
  text-align: center;
  position: sticky;
  top: auto;
}

.middle {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  background: #E5D8AC;
  font-family: 'Raleway', sans-serif;
}

hr {
  border: 0;
  border-bottom: 1px solid gray;
}

.center {
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_menu {
  background-color: #16440E;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 5px;
  height: 80px;
}

footer.page-footer {
  background-color: rgba(57, 38, 7, 0.85);
  color: white;
  /*text-align: center;*/
  min-height: 85px;
  width: 100%;
  vertical-align: bottom;
    box-shadow: 0px 500px 0px 500px #000;
}

div.footer-copyright{
  background-color: rgb(39, 26, 5);
    padding:10px;
}

.feature {
  color: #00c853;
}

/*Media connections*/

.fa {
  background: transparent;
  margin: auto;
}

.fa:hover {
  opacity: 0.7;
  color: white;
}

/*Search bar implementation*/

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: center;
  width: 100%;
  font-size: 14px;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  width: auto;
}

#cntnr {
  background: black;
  background: rgba(0, 0, 0, 0.54);
}

.email:hover {
    color: #d3edff;
}

.brand-logo {
  font-family: 'Handlee', cursive;
}

@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(https://fonts.gstatic.com/s/handlee/v5/juOaTHBX9N7mCQYS68pw6QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 80px;
}

footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 10px 0 20px 0;
    color:white;
}

.navbar.navbar-fixed-top.fixed-theme. {
    box-shadow: 0 0 5px white;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 6s;
    -webkit-transition:  1s;
}

.navbar.navbar-fixed-top {
    min-height: 80px;
}

.navbar.navbar-fixed-top.fixed-theme {
    min-height: 30px;
}

#navbar-nav#nav-mobile > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    #navbar-nav#nav-mobile > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
