<<<<<<< HEAD
body {
    color:white;
    

    
}

=======
>>>>>>> a9953dfe72400c6a3230c3eda4ade47e23e3fb53
html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.page_div {
  margin-bottom: 130px;
  clear: both;
  width: 100%;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

a {
  color: #294;
}

.material-icons {
  display: inline-block;
  text-align: center;
  position: sticky;
  top: auto;
}

.middle {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  background: #E5D8AC;
  font-family: 'Raleway', sans-serif;
}

hr {
  border: 0;
  border-bottom: 1px solid gray;
}

.center {
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_menu {
  background-color: #16440E;
  color: white;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 5px;
  height: 80px;
}

.footer {
  background-color: #16440E;
  color: white;
  text-align: center;
  min-height: 85px;
  width: 100%;
  vertical-align: bottom;
}

.copyright {
  background-color: #ffffff;
  color: #16440E;
  text-align: center;
  bottom: 0;
  min-height: 29px;
  width: 100%;
  vertical-align: bottom;
}

/*Media connections*/
.fa {
  background: transparent;
  margin: auto;
}

.fa:hover {
  opacity: 0.7;
  color: white;
}

.e-mail {
  font-size: 16px;
  margin: auto;
}

/*Search bar implementation*/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: center;

  width: 100%;
  font-size: 14px;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
  width: auto;
}
