h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.middle {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
<<<<<<< HEAD
=======
}

body {
  background: #F2DBC4;
>>>>>>> 9be49d65ea174e91db642d17b36af20de5cffc15
}
